# Terraform
terraform.tfstate
terraform.tfstate.*
.terraform/
crash.log

# Secrets e arquivos de variáveis reais
*.tfvars
*.tfvars.json

# VSCode
.vscode/

# Node/npm
node_modules/

# MacOS lixo
.DS_Store

# Outros diretórios/pastas temporárias
*.log

# (adapte para outros stacks/tools do projeto conforme necessidade)
